{% extends 'supercarapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% block css_files %}<link rel="stylesheet" href="{% static 'supercarapp/index.css' %}">{% endblock %}
</head>
<body>
    {% block body %}
        {% for Car in CarList %}
            <div class="row m-5">
                <div class="col-md-3 offset-md-2">
                    <img class="card" height="150px" src="{{ Car.CarImage }}"/>
                </div>
                <div class="specs">
                    <h3>{{ Car.CarName }}</h3>
                    <h5>{{ Car.CarDesc }}</h5>
                    <h6>${{ Car.CarPrice }}</h6>
                    Added By:<h6>{{ user.username }}</h6>

                    <!--delete this later-->
                    
                    <!---->
                </div>
                <div class="col-md-2">
                    <a href="{% url 'supercarapp:detail' Car.id %}" class="btn btn-success">Details</a>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <hr>
                </div>
            </div>

        {% endfor %}
    {% endblock %}    

    
    <!--  this is the old code
      
    <ul>
        <li>
           
            <a href=""> {‌{ item.id }} -- {‌{ item.item_name }}</a>
        </li>
    </ul>
    -->
       
</body>
</html>